@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
   
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(fundo.png);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
 
}
h1{
    position: relative;
    bottom: 50px;
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5rem;
    color: rgb(240, 238, 238);
    font-weight: 500;
}

#taskInput{
    border-style: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 60%;
    margin-bottom: 20px;
    
}

.label{
    font-family: 'Poppins';
    color: white;
}

.radio1{
accent-color: rgb(0, 255, 85);
background: transparent;
}

.radio2{
accent-color: rgb(229, 255, 0);
background: transparent;
}

.radio3{
accent-color: rgb(255, 0, 0);
background: transparent;
}

#button-tarefa{
    padding: 10px;
    border-style: none;
    border-radius: 20px;
    margin-left: 20px;
    font-family: 'Poppins';
    background-color: rgb(211, 164, 255);
    cursor: pointer;
 
}

#button-tarefa:hover {
    background-color: rgb(177, 94, 255);
}

 

#kanban-board{
    display: flex;
    justify-content: space-between;
    width: 120%;
    gap: 50px;
    margin-top: 20px;
    
    
}

.divs-prioridade{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
     font-family: 'Poppins';
     color: rgb(34, 14, 90);
    font-weight: 400;

}

#div-baixa h2{
     
}

